modules = ["nodejs-20", "web", "bash", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PORT = "5000"
BASE_PATH = "/"
NODE_ENV = "development"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/api-server && PORT=8080 node --enable-source-maps --import=./load-env.mjs ./dist/index.mjs & cd /home/runner/workspace && PORT=5000 BASE_PATH=/ pnpm --filter @workspace/classifieds run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 19493
externalPort = 3002

[[ports]]
localPort = 22463
externalPort = 3001

[[ports]]
localPort = 25377
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "cd artifacts/api-server && PORT=8080 node --enable-source-maps --import=./load-env.mjs ./dist/index.mjs & PORT=5000 BASE_PATH=/ pnpm --filter @workspace/classifieds run serve"]
build = ["bash", "-c", "pnpm install && pnpm --filter @workspace/api-server run build && PORT=5000 BASE_PATH=/ pnpm --filter @workspace/classifieds run build"]
